@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/dist/flowbite.min.css";

body {
  font-family: "Inter", sans-serif;
}
.background {
  background-image: url(../src/assets/background.jpg);
  background-repeat: repeat;
  background-size: auto;
  position: relative; /* Ensure the element can contain absolutely positioned elements */
  z-index: 0;
}

.background::after {
  content: ''; /* Create a pseudo-element to overlay */
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0; /* Cover the entire parent element */
  background-color: rgba(255, 255, 255, 0.86); /* Adjust the RGBA values and opacity as needed */
  z-index: 0;
}
header {
  z-index: 1000 !important;
}
